<?php
/**
 * WorkbooksApi
 * PHP version 5
 *
 * @category Class
 * @package  Vimbox\RoomsApi
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Vimbox-rooms
 *
 * Beta
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Vimbox\RoomsApi\API;

use \Vimbox\RoomsApi\Configuration;
use \Vimbox\RoomsApi\ApiClient;
use \Vimbox\RoomsApi\ApiException;
use \Vimbox\RoomsApi\ObjectSerializer;

/**
 * WorkbooksApi Class Doc Comment
 *
 * @category Class
 * @package  Vimbox\RoomsApi
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class WorkbooksApi
{

    /**
     * API Client
     *
     * @var \Vimbox\RoomsApi\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Vimbox\RoomsApi\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Vimbox\RoomsApi\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://rooms.vimbox.dev-v4.skyeng.link');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Vimbox\RoomsApi\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Vimbox\RoomsApi\ApiClient $apiClient set the API client
     *
     * @return WorkbooksApi
     */
    public function setApiClient(\Vimbox\RoomsApi\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation roomsServerApiV1WorkbooksNotStartedHwCountGet
     *
     * Return count not started homeworks
     *
     * @param string $student_id  (optional)
     * @return int
     * @throws \Vimbox\RoomsApi\ApiException on non-2xx response
     */
    public function roomsServerApiV1WorkbooksNotStartedHwCountGet($student_id = null)
    {
        list($response) = $this->roomsServerApiV1WorkbooksNotStartedHwCountGetWithHttpInfo($student_id);
        return $response;
    }

    /**
     * Operation roomsServerApiV1WorkbooksNotStartedHwCountGetWithHttpInfo
     *
     * Return count not started homeworks
     *
     * @param string $student_id  (optional)
     * @return Array of int, HTTP status code, HTTP response headers (array of strings)
     * @throws \Vimbox\RoomsApi\ApiException on non-2xx response
     */
    public function roomsServerApiV1WorkbooksNotStartedHwCountGetWithHttpInfo($student_id = null)
    {
        // parse inputs
        $resourcePath = "/rooms/server-api/v1/workbooks/notStartedHwCount";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/x-www-form-urlencoded'));

        // query params
        if ($student_id !== null) {
            $queryParams['studentId'] = $this->apiClient->getSerializer()->toQueryValue($student_id);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'int',
                '/rooms/server-api/v1/workbooks/notStartedHwCount'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, 'int', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'int', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
